.navbar-brand{
    background: #39c9bb;
}


body{
    background-color:#ededed;
}

.box {
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #39c9bb;
    background-color: #fff;
  }
  
.white {
    background: #fff;
  }
p{
    color: #808080;
}
img{
    max-width: 95%;
    max-height: 100%;
}
